doc/*
*.pem
*.pyc
*.pyo
*.py~
*.py.bak
old.*
.*
*.patch
*.rej
*.diff
*.orig
*.swp
*.pcap
\#*\#
*~
pox/lib/pxpcap/pxpcap_c/build
pox/lib/pxpcap/pxpcap_c/WpdPack
pypy/
ext/bak/
ext/topos/topology_generator-depracted.py
*-output.csv


/ext/results/alt_plot.py

*.log

/ext/results/bern.out

/ext/doc/debugging/

/ext/results/loss/

/ext/results/dtime/

/ext/results/plot_loss_curves.py
/ext/results/plot_dtime.py
/ext/results/plot_bernoulli.py
/ext/results/gen_loss_results.py

/ext/results/final-figs/
/startVM.sh
/closeVM.sh
/appleseed.sublime-project
/appleseed.sublime-workspace
